In [1]:
#Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
#Examples
#is_symmetrical(7227) ➞ True

#is_symmetrical(12567) ➞ False

#is_symmetrical(44444444) ➞ True

#is_symmetrical(9939) ➞ False

#is_symmetrical(1112111) ➞ True

In [8]:
def is_symmetrical(number):
    reversed_number = str(number)[::-1]
    return number == int(reversed_number)

In [9]:
is_symmetrical(7227)

True

In [10]:
is_symmetrical(12567)

False

In [11]:
is_symmetrical(44444444)

True

In [12]:
is_symmetrical(9939)

False

In [13]:
is_symmetrical(1112111)

True

In [15]:
#Given a string of numbers separated by a comma and space, return the product of the numbers.
#Examples
#multiply_nums("2, 3") ➞ 6

#multiply_nums("1, 2, 3, 4") ➞ 24

#multiply_nums("54, 75, 453, 0") ➞ 0

#multiply_nums("10, -2") ➞ -20

In [17]:
def multiply_nums(string):
    numbers = string.split(",")
    product = 1
    for number in numbers:
        product = product * int(number)
    return product

In [18]:
multiply_nums("2, 3")

6

In [19]:
multiply_nums("1, 2, 3, 4")

24

In [20]:
multiply_nums("54, 75, 453, 0")

0

In [21]:
multiply_nums("10, -2")

-20

In [22]:
#Create a function that squares every digit of a number.
#Examples
#square_digits(9119) ➞ 811181

#square_digits(2483) ➞ 416649

#square_digits(3212) ➞ 9414
#Notes
#The function receives an integer and must return an integer.

In [24]:
def square_digits(number):
    result = ""
    for digit in str(number):
        result =result + str(int(digit) ** 2)
    return int(result)

In [25]:
square_digits(9119)

811181

In [26]:
square_digits(2483)

416649

In [27]:
square_digits(3212)

9414

In [28]:
#Create a function that sorts a list and removes all duplicate items from it.
#Examples
#setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

#setify([4, 4, 4, 4]) ➞ [4]

#setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

#setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [29]:
def setify(lst):
    return sorted(list(set(lst)))

In [30]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [31]:
setify([4, 4, 4, 4])

[4]

In [32]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [33]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

In [34]:
#Create a function that returns the mean of all digits.
#Examples
#mean(42) ➞ 3

#mean(12345) ➞ 3

#mean(666) ➞ 6
#Notes
#•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
#•	The mean will always be an integer.

In [35]:
def mean(number):
    digits = str(number)
    sum_of_digits = 0
    for digit in digits:
        sum_of_digits =sum_of_digits + int(digit)
    number_of_digits = len(digits)
    mean_of_digits = sum_of_digits // number_of_digits
    return mean_of_digits

In [36]:
mean(42)

3

In [37]:
mean(12345)

3

In [38]:
mean(666)

6